!!!
%html
	%head
		%title Tavern

		= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"
		= stylesheet_link_tag "application", media: "all"
		%meta{:content => "text/html; charset=US-ASCII", "http-equiv" => "content-type"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
		%link{:href => "", :rel => "shortcut icon"}/

	%body
		%header
			%nav
				.nav-wrapper
					%a.brand-logo{:href => "#!"} Logo
					%a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
						%i.material-icons menu
					%ul.right.hide-on-med-and-down
						%li
							%a{:href => "sass.html"} Sass
						%li
							%a{:href => "badges.html"} Components
						%li
							%a{:href => "collapsible.html"} Javascript
						%li
							%a{:href => "mobile.html"} Mobile
					%ul#mobile-demo.side-nav
						%li
							%a{:href => "sass.html"} Sass
						%li
							%a{:href => "badges.html"} Components
						%li
							%a{:href => "collapsible.html"} Javascript
						%li
							%a{:href => "mobile.html"} Mobile

		.section.white
			//%img{:src => "http://media.blizzard.com/hearthstone/images/backgroundart.jpg"}/
			.row.container
				%p Tavern is awesome blabla
				%a.waves-effect.waves-light.btn{:href => "/login"}
					%i.material-icons.right cloud
					Connect with Battle.net


	= javascript_include_tag "application"
