<%= link_to 'Show', @news, class: "waves-effect waves-teal btn-flat" %> |
<%= link_to 'Back', '/home', class: "waves-effect waves-teal btn-flat"   %>

<div class="row">
  <div class="col s12">
    <div class="card-panel">
<h1>Editer une actualité</h1>

<%= render 'form', news: @news %>
</div>
</div>
</div>
