
<%= link_to 'Back', '/home', class: "waves-effect waves-teal btn-flat" %>

<div class="row">
  <div class="col s12">
    <div class="card-panel">
<h2>Nouvelle actualité</h2>
<%= render 'form', news: @news %>
</div>
</div>
</div>
